@charset "utf-8";
/*  
* @description:文章模板
* @author: sf 
* @update:
*/

/* 文章模板  样式 */
.article-title{
	position:relative;
	overflow:hidden;
	min-width:320px;
	max-width:640px;
	width:100%;
	height:45px;
	margin-top:-45px;
	background:rgba(0,0,0,.4);
	text-align:center;
	line-height:45px;
	letter-spacing:2px;
	font-size:20px;
}
.article-title a{
	display:block;
	width:100%;
	color:#fff;
}

.list-rowspan{}
.list-product{}
.list-product-col{
	width:100%;
	display:table;
	margin:10px 0;
	background:#fff;
}
.list-product-col span{
	display:table-cell;
	vertical-align:middle;
}
.list-product-col .pic{
	width:25%;
	padding:5px;
	border-radius:100%;
}
.list-product-col .pic img{
	display:block;
	width:100%;
	border-radius: 100%;
	height: 4rem;
}
.list-product-col .info var{
	display: -webkit-box;
	-webkit-line-clamp:1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	word-break: break-word;
	margin-left:10px;
	font-size:16px;
}
.list-product-col .info .cont{
	padding-top:5px;
	color:#666;
	font-size:14px;
}
