<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjlp.face.web.mapper.CustomMenuMapper" >
  <resultMap id="BaseResultMap" type="com.zjlp.face.web.server.user.weixin.domain.CustomMenu" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="PID" property="pid" jdbcType="BIGINT" />
    <result column="SHOP_NO" property="shopNo" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="LINK" property="link" jdbcType="VARCHAR" />
    <result column="MENU_KEY" property="menuKey" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap type="com.zjlp.face.web.server.user.weixin.domain.dto.CustomMenuDto" id="BaseResultMapDto" extends="BaseResultMap">
  </resultMap>
  <resultMap type="com.zjlp.face.web.server.user.weixin.domain.vo.CustomMenuVo" id="BaseResultMapVo" extends="BaseResultMap">
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PID, SHOP_NO, NAME, CODE, LINK, MENU_KEY, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from custom_menu
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectList" resultMap="BaseResultMapVo" parameterType="com.zjlp.face.web.server.user.weixin.domain.vo.CustomMenuVo" >
    select 
    <include refid="Base_Column_List" />
    from custom_menu
    where shop_no = #{shopNo,jdbcType=VARCHAR}
    order by id
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from custom_menu
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteCustomByShopNo" parameterType="java.lang.String" >
    delete from custom_menu
    where shop_no = #{shopNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zjlp.face.web.server.user.weixin.domain.CustomMenu" >
  	<selectKey keyProperty="id" resultType="long" order="AFTER">  
        SELECT LAST_INSERT_ID();  
    </selectKey>
    insert into custom_menu (ID, PID, SHOP_NO, 
      NAME, CODE, LINK, MENU_KEY, 
      CREATE_TIME, UPDATE_TIME)
    values (#{id,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT}, #{shopNo,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, #{menuKey,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zjlp.face.web.server.user.weixin.domain.CustomMenu" >
  	<selectKey keyProperty="id" resultType="long" order="AFTER">  
        SELECT LAST_INSERT_ID();  
    </selectKey>
    insert into custom_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="pid != null" >
        PID,
      </if>
      <if test="shopNo != null" >
        SHOP_NO,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="code != null" >
        CODE,
      </if>
      <if test="link != null" >
        LINK,
      </if>
      <if test="menuKey != null" >
        MENU_KEY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="shopNo != null" >
        #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="menuKey != null" >
        #{menuKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjlp.face.web.server.user.weixin.domain.CustomMenu" >
    update custom_menu
    <set >
      <if test="pid != null" >
        PID = #{pid,jdbcType=BIGINT},
      </if>
      <if test="shopNo != null" >
        SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        LINK = #{link,jdbcType=VARCHAR},
      </if>
      <if test="menuKey != null" >
        MENU_KEY = #{menuKey,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjlp.face.web.server.user.weixin.domain.CustomMenu" >
    update custom_menu
    set PID = #{pid,jdbcType=BIGINT},
      SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=VARCHAR},
      LINK = #{link,jdbcType=VARCHAR},
      MENU_KEY = #{menuKey,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>