<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjlp.face.web.mapper.OrderCouponRelationMapper" >
  <resultMap id="BaseResultMap" type="com.zjlp.face.web.server.trade.order.domain.OrderCouponRelation" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="COUPON_ID" property="couponId" jdbcType="BIGINT" />
    <result column="FACE_VALUE" property="faceValue" jdbcType="BIGINT" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_NO, COUPON_ID, FACE_VALUE, CREATE_TIME, UPDATE_TIME
  </sql>
  
  	<sql id="Coupon_Column_List" >
    	coupon.ID, coupon.COUPON_SET_ID, coupon.USER_ID, coupon.SELLER_ID, coupon.SHOP_NO, coupon.CODE, coupon.DRAW_REMOTE_ID, coupon.DRAW_REMOTE_TYPE, 
    	coupon.FACE_VALUE, coupon.CURRENCY_TYPE, coupon.ORDER_PRICE, coupon.CAN_JOIN, coupon.STATUS, coupon.EFFECTIVE_TIME, coupon.END_TIME, 
    	coupon.CREATE_TIME, coupon.UPDATE_TIME
  	</sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_coupon_relation
    where ID = #{id,jdbcType=BIGINT}
  </select>
  	
  	<!-- 根据订单号查询优惠劵 -->
	<select id="getCouponByOrderNo" resultType="com.zjlp.face.web.server.trade.coupon.domain.Coupon" parameterType="java.lang.String" >
    	select 
    	<include refid="Coupon_Column_List" />
    	from order_coupon_relation ocr join coupon on ocr.coupon_id = coupon.id
   		where ocr.order_no = #{orderNo,jdbcType=VARCHAR}
  	</select>
  	
  	<!-- 根据订单号删除关联关系 -->
  	<delete id="deleteByOrderNo" parameterType="java.lang.String" >
    	delete from order_coupon_relation where order_no = #{id,jdbcType=VARCHAR}
  	</delete>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_coupon_relation
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  
  	<insert id="insert" parameterType="com.zjlp.face.web.server.trade.order.domain.OrderCouponRelation" >
  		<selectKey keyProperty="id" resultType="long" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey>
    	insert into order_coupon_relation (ORDER_NO, COUPON_ID, FACE_VALUE, CREATE_TIME, UPDATE_TIME)
			values (#{orderNo,jdbcType=VARCHAR}, #{couponId,jdbcType=BIGINT}, 
      				#{faceValue,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  	</insert>
  	
  <insert id="insertSelective" parameterType="com.zjlp.face.web.server.trade.order.domain.OrderCouponRelation" >
	 <selectKey keyProperty="id" resultType="long" order="AFTER">
		SELECT
		LAST_INSERT_ID();
   </selectKey>
    insert into order_coupon_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="couponId != null" >
        COUPON_ID,
      </if>
      <if test="faceValue != null" >
        FACE_VALUE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null" >
        #{couponId,jdbcType=BIGINT},
      </if>
      <if test="faceValue != null" >
        #{faceValue,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjlp.face.web.server.trade.order.domain.OrderCouponRelation" >
    update order_coupon_relation
    <set >
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="couponId != null" >
        COUPON_ID = #{couponId,jdbcType=BIGINT},
      </if>
      <if test="faceValue != null" >
        FACE_VALUE = #{faceValue,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjlp.face.web.server.trade.order.domain.OrderCouponRelation" >
    update order_coupon_relation
    set ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      COUPON_ID = #{couponId,jdbcType=BIGINT},
      FACE_VALUE = #{faceValue,jdbcType=BIGINT},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>