<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjlp.face.web.mapper.PickUpStoreMapper" >
  <resultMap id="BaseResultMap" type="com.zjlp.face.web.server.user.shop.domain.PickUpStore" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="SHOP_NO" property="shopNo" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
    <result column="CITY" property="city" jdbcType="VARCHAR" />
    <result column="COUNTY" property="county" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap type="com.zjlp.face.web.server.user.shop.domain.dto.PickUpStoreDto" 
        id="DtoResutMap" extends="BaseResultMap">
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SHOP_NO, NAME, PROVINCE, CITY, COUNTY, ADDRESS, PHONE, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pick_up_store
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pick_up_store
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjlp.face.web.server.user.shop.domain.PickUpStore" >
    insert into pick_up_store (ID, SHOP_NO, NAME, 
      PROVINCE, CITY, COUNTY, 
      ADDRESS, PHONE, CREATE_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=BIGINT}, #{shopNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zjlp.face.web.server.user.shop.domain.PickUpStore" >
  	<selectKey keyProperty="id" resultType="long" order="AFTER">
		SELECT
		LAST_INSERT_ID();
	</selectKey>
    insert into pick_up_store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="shopNo != null" >
        SHOP_NO,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
      <if test="city != null" >
        CITY,
      </if>
      <if test="county != null" >
        COUNTY,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopNo != null" >
        #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjlp.face.web.server.user.shop.domain.PickUpStore" >
    update pick_up_store
    <set >
      <if test="shopNo != null" >
        SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        PROVINCE = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        CITY = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        COUNTY = #{county,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjlp.face.web.server.user.shop.domain.PickUpStore" >
    update pick_up_store
    set SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      PROVINCE = #{province,jdbcType=VARCHAR},
      CITY = #{city,jdbcType=VARCHAR},
      COUNTY = #{county,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 根据主键和店铺编号查询列表 -->
  <select id="selectByIdAndShopNo" parameterType="com.zjlp.face.web.server.user.shop.domain.PickUpStore" 
       resultMap="BaseResultMap">
       SELECT
           <include refid="Base_Column_List" />
       FROM
           PICK_UP_STORE
       WHERE
           ID = #{id,jdbcType=BIGINT}
           AND SHOP_NO = #{shopNo,jdbcType=VARCHAR}
  </select>
  
  <select id="selectZtCount" parameterType="com.zjlp.face.web.server.user.shop.domain.dto.PickUpStoreDto" resultType="java.lang.Integer">
       SELECT
           COUNT(1)
       FROM
           PICK_UP_STORE
       WHERE
           SHOP_NO = #{shopNo,jdbcType=VARCHAR}
  </select>
  
  <select id="selectZtPage" parameterType="com.zjlp.face.web.server.user.shop.domain.dto.PickUpStoreDto" resultMap="DtoResutMap">
       SELECT
           <include refid="Base_Column_List" />
       FROM
           PICK_UP_STORE
       WHERE
           SHOP_NO = #{shopNo,jdbcType=VARCHAR}
       ORDER BY
           CREATE_TIME DESC
       LIMIT #{aide.startNum}, #{aide.pageSizeNum}
  </select>
  
  <select id="selectListByShopNo" parameterType="java.lang.String" resultMap="BaseResultMap">
      SELECT
          <include refid="Base_Column_List" />
      FROM
          PICK_UP_STORE
      WHERE
          SHOP_NO = #{shopNo,jdbcType=VARCHAR}
  </select>
</mapper>