<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjlp.face.web.mapper.PopularizeCommissionRecordMapper" >
  <resultMap id="BaseResultMap" type="com.zjlp.face.web.server.trade.payment.domain.PopularizeCommissionRecord" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="POPU_CELL" property="popuCell" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="BIGINT" />
    <result column="TRANSACTION_SERIAL_NUMBER" property="transactionSerialNumber" jdbcType="VARCHAR" />
    <result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
    <result column="COMMISSION" property="commission" jdbcType="BIGINT" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, POPU_CELL, USER_ID, TRANSACTION_SERIAL_NUMBER, ORDER_NO, COMMISSION, ORDER_STATUS, 
    STATUS, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from popularize_commission_record
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeyForLock" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from popularize_commission_record
    where ID = #{id,jdbcType=BIGINT} FOR UPDATE
  </select>
  <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List" />
    from popularize_commission_record
    where ORDER_NO = #{orderNo,jdbcType=VARCHAR}
  </select>
  <select id="selectByPopuCell" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
    <include refid="Base_Column_List" />
    from popularize_commission_record
    where POPU_CELL = #{popuCell,jdbcType=VARCHAR}
    AND STATUS = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from popularize_commission_record
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zjlp.face.web.server.trade.payment.domain.PopularizeCommissionRecord" >
    insert into popularize_commission_record (ID, POPU_CELL, USER_ID, 
      TRANSACTION_SERIAL_NUMBER, ORDER_NO, COMMISSION, 
      ORDER_STATUS, STATUS, CREATE_TIME, 
      UPDATE_TIME)
    values (#{id,jdbcType=BIGINT}, #{popuCell,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, 
      #{transactionSerialNumber,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{commission,jdbcType=BIGINT}, 
      #{orderStatus,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zjlp.face.web.server.trade.payment.domain.PopularizeCommissionRecord" >
    insert into popularize_commission_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="popuCell != null" >
        POPU_CELL,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="transactionSerialNumber != null" >
        TRANSACTION_SERIAL_NUMBER,
      </if>
      <if test="orderNo != null" >
        ORDER_NO,
      </if>
      <if test="commission != null" >
        COMMISSION,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="popuCell != null" >
        #{popuCell,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="transactionSerialNumber != null" >
        #{transactionSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="commission != null" >
        #{commission,jdbcType=BIGINT},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjlp.face.web.server.trade.payment.domain.PopularizeCommissionRecord" >
    update popularize_commission_record
    <set >
      <if test="popuCell != null" >
        POPU_CELL = #{popuCell,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=BIGINT},
      </if>
      <if test="transactionSerialNumber != null" >
        TRANSACTION_SERIAL_NUMBER = #{transactionSerialNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null" >
        ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="commission != null" >
        COMMISSION = #{commission,jdbcType=BIGINT},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjlp.face.web.server.trade.payment.domain.PopularizeCommissionRecord" >
    update popularize_commission_record
    set POPU_CELL = #{popuCell,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=BIGINT},
      TRANSACTION_SERIAL_NUMBER = #{transactionSerialNumber,jdbcType=VARCHAR},
      ORDER_NO = #{orderNo,jdbcType=VARCHAR},
      COMMISSION = #{commission,jdbcType=BIGINT},
      ORDER_STATUS = #{orderStatus,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <select id="getUsersPopularizeAmount" resultType="java.lang.Long">
  	SELECT
		SUM(COMMISSION)
	FROM
		popularize_commission_record
	WHERE
		USER_ID = #{userId}
	AND `STATUS` = 1
  </select>
</mapper>