<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjlp.face.web.mapper.VAreaMapper" >
  <resultMap id="BaseResultMap" type="com.zjlp.face.web.server.user.user.domain.VArea" >
    <id column="CODE" property="code" jdbcType="INTEGER" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="AREA" property="area" jdbcType="VARCHAR" />
    <result column="PINYIN" property="pinyin" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, PARENT_ID, AREA, PINYIN
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from v_area
    where CODE = #{code,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from v_area
    where CODE = #{code,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zjlp.face.web.server.user.user.domain.VArea" >
   	<selectKey keyProperty="id" resultType="long" order="AFTER">
		SELECT
		LAST_INSERT_ID();
	</selectKey>
    insert into v_area (CODE, PARENT_ID, AREA, 
      PINYIN)
    values (#{code,jdbcType=INTEGER}, #{parentId,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{pinyin,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zjlp.face.web.server.user.user.domain.VArea" >
   	<selectKey keyProperty="id" resultType="long" order="AFTER">
		SELECT
		LAST_INSERT_ID();
	</selectKey>
    insert into v_area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="area != null" >
        AREA,
      </if>
      <if test="pinyin != null" >
        PINYIN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        #{pinyin,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zjlp.face.web.server.user.user.domain.VArea" >
    update v_area
    <set >
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        AREA = #{area,jdbcType=VARCHAR},
      </if>
      <if test="pinyin != null" >
        PINYIN = #{pinyin,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zjlp.face.web.server.user.user.domain.VArea" >
    update v_area
    set PARENT_ID = #{parentId,jdbcType=VARCHAR},
      AREA = #{area,jdbcType=VARCHAR},
      PINYIN = #{pinyin,jdbcType=VARCHAR}
    where CODE = #{code,jdbcType=INTEGER}
  </update>
  
  <select id="selectOneAreaByCode" resultType="com.zjlp.face.web.server.user.user.domain.dto.VaearDto" parameterType="java.lang.Integer" >
		SELECT 
		    t1.AREA AS provinceName, t1.CODE AS provinceCode,
			t2.AREA AS cityName, t2.CODE AS cityCode,
		    t3.AREA AS areaName, t3.CODE AS areaCode
		FROM
		    V_AREA AS t1
		LEFT JOIN V_AREA AS t2 
		    ON t2.PARENT_ID = t1.CODE
		LEFT JOIN V_AREA AS t3 
		    ON t3.PARENT_ID = t2.CODE
		WHERE 
		    t3.CODE=#{code,jdbcType=INTEGER}
  </select>
  
  <select id="selectOneCityByCode" resultType="com.zjlp.face.web.server.user.user.domain.dto.VaearDto" parameterType="java.lang.Integer" >
		SELECT 
		    t1.AREA AS provinceName, t1.CODE AS provinceCode,
			t2.AREA AS cityName, t2.CODE AS cityCode
		FROM
		    V_AREA AS t1
		LEFT JOIN V_AREA AS t2 
		    ON t2.PARENT_ID = t1.CODE
		WHERE 
		    t2.CODE=#{code,jdbcType=INTEGER}
		Limit 1
  </select>
  
  <select id="selectAllByParentId" parameterType="com.zjlp.face.web.server.user.user.domain.VArea" resultMap="BaseResultMap">
       SELECT
           <include refid="Base_Column_List" />
       FROM
           V_AREA
       <where>
           <if test="parentId != null">
           	   PARENT_ID = #{parentId,jdbcType=VARCHAR}
           </if>
       </where>
           
  </select>
  
  	<!-- 根据区域名称查询地区编码信息  -->
	<select id="getAreaByAreaName" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT
			<include refid="Base_Column_List" />
		FROM
			V_AREA
		where 
			area = #{area,jdbcType=VARCHAR}
  	</select>
</mapper>