/* @charset "utf-8"; */
/* *{ */
/* 	margin:0; */
/* 	padding:0; */
/* 	list-style:none; */
/* 	box-sizing:border-box; */
/* } */

/* /* slidefocus master */ */
/* .slidefocus{overflow:hidden;position:relative} */
/* .slidefocus ul, */
/* .slidefocus ul li, */
/* .slidefocus ul li a, */
/* .slidefocus ul li a img{display:block;width:100%;height:100%;} */
/* .slidefocus ul{position:relative;} */
/* .slidefocus ul li{position:absolute;} */
/* .slidefocus .slidepage{width:100%;position:absolute;bottom:0.5em;text-align:center;} */
/* .slidefocus .slidepage span{display:inline-block;width:0.5em;height:0.5em;border-radius:100%;background-color:rgba(255,255,255,0.5);margin:0 0.25em;} */
/* .slidefocus .slidepage span.active{background-color:rgba(255,0,0,1)} */